.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    flex: 1;
    justify-content: left;
}

.search {
    flex: 3;
}

.profile {
    flex: 1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.cart {
    margin: 0px 40px 0px 40px;
}

.favourite {
    margin: 0px 20px 0px 20px;
}

.account {
    margin: 0px 40px 0px 40px;
}

#brandLogo {
    height: 150%;
}

#cart {
    height: 35px;
}

#wishList {
    height: 35px;
}

#profile {
    height: 35px;
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: none;
    border-radius: 6px;
    width: 100%;
    height: 29px;
    outline: none;
    background-color: lightgray;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.searchBox {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    background-color: lightgray;
    border-style: solid;
    border-color: lightgray;
    width: 60%;
    height: 30px;
}

input:focus {
    border-color: lightgray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login {
    margin: 0px 15px 0px 15px;
}

.signup {
    margin: 0px 15px 0px 15px;
}

#login {
    padding: 7px 10px 7px 10px;
    text-align: center;
    color: white;
    background-color: black;
    border-color: black;
    border-style: none;
    border-radius: 7px;
}

#signup {
    padding: 7px 10px 7px 10px;
    text-align: center;
    color: white;
    background-color: black;
    border-color: black;
    border-style: none;
    border-radius: 7px;
}

#login:hover,
#signup:hover {
    background-color: #edd500;
    color: black;
}

a {
    text-decoration: inherit;

    color: inherit;
}

a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}